h1{
    /* border: 1px solid red; */
    text-align: center;
}

#board-div{
    /* border: 1px solid orange; */
    width: 450px;
    margin: 0 auto;
}
.box{
    height: 150px;
    width: 150px;
    border: 1px solid pink;
}
.row{
    /* border: 1px solid green; */
    display: flex;
    width: 600px;
}
.box:hover{
    background-color: black;
    cursor: pointer;
}

.X{
    font-size: 100px;
    /* border: 1px solid green; */
    text-align: center;
}
.X > span{
    /* border: 1px solid orange; */
    margin: auto;
   
}